.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pod-button {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.pod-button:hover {
  opacity: 1;
}

.status-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  transition: background-color 0.3s ease;
}

.status-circle.running {
  background-color: green;
}

.status-circle.pending {
  background-color: gray;
}

.status-circle.crashed {
  background-color: red;
}

.list-group-item {
  display: flex;
  align-items: center; 
  padding: 10px;
  justify-content: flex-start;
}

.list-group-item .d-flex {
  display: flex;
  align-items: center;
}

.list-group-item .status-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 8px;
}

.list-group-item .btn-group {
  display: flex;
  gap: 8px;
  margin-left: auto; 
}

.list-group-item .btn-group button {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.truncated-name {
  display: inline-block;
  max-width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
